@model Question1.Models.Customer
@{
    ViewBag.Title = "IdSpecificDetails";
}

<h2>Details of Customers</h2>

<p>Customer ID: @Model.CustomerID</p>
<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>
<p>Contact Title : @Model.ContactTitle</p>
<p>Address : @Model.Address</p>
<p>City : @Model.City</p>
<p>Country : @Model.Country</p>
<p>Phone Number : @Model.Phone</p>

